{% extends "layout.html" %}
    {% block body %}
        {% if session.username %}
            <div id="info" style="display:block">
                <p>Nimi:<br>
                    {{ account[1] }}<br>
                </p>
                <p>Käyttäjätunnus:<br>
                    {{ account[2] }}<br>
                </p>
                <p>Ikä:<br>
                    {{ account[4] }}<br>
                </p>
                <p>Lainat:<br>
                    {% for loan in l_list %}
                        <li>
                            <form action="/return_loan" method="POST">
                                <input type="hidden" name="account_id" value="{{ account[0] }}">
                                <input type="hidden" name="material_id" value="{{ loan[0] }}">
                                <a href="/material/{{ loan[0] }}">{{ loan[1] }}</a>, {{ loan[3] }} <input type="submit" value="Palauta">
                            </form>
                        </li>
                    {% endfor %}
                </p>
                <button value="Muokkaa tietoja" onclick="
                    document.getElementById('info').style.display='none';
                    document.getElementById('update').style.display='block';
                    document.getElementById('hide').style.display='block'">Muokkaa tietoja</button>
            </div>
            <div id="update" style="display:none">
                <form action="/update_account" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="hidden" name="id" value="{{ account[0] }}">
                    <p>Nimi:<br>
                        {{ account[1] }}<br>
                    </p>
                    <input type="text" name="name" value="{{ account[1] }}"></p>
                    <p>Käyttäjätunnus:<br>
                        {{ account[2] }}<br>
                    </p>
                    <input type="text" name="username" value="{{ account[2] }}"></p>
                    <p>Ikä:<br>
                        {{ account[4] }}<br>
                    <input type="number" name="age" value="{{ account[4] }}">
                    </p>
                    <input type="submit" value="Päivitä tiedot">
                </form>
                <hr>

                <form action="/change_password", method="POST">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="hidden" name="id" value="{{ account[0] }}">
                    <p>Vanha salasana:<br>
                        <input type="password" name="old_password" required>
                    </p>
                    <p>Uusi salasana:<br>
                        <input type="password" name="new_password" required>
                    </p>
                    <p>Toista uusi salasana:<br>
                    <input type="password" name="new_password2" required>
                    </p>
                    <input type="submit" value="Vaihda salasana">
                </form>
                <hr>
                <form action="/delete_account", method="POST">
                    <input type="hidden" name="id" value="{{ account[0] }}">
                    <input type="submit" value="Poista käyttäjätunnus">
                </form>
                <button id="hide" value="Muokkaa tietoja" onclick="
                    document.getElementById('info').style.display='block';
                    document.getElementById('update').style.display='none';
                    document.getElementById('hide').style.display='none'">Piilota lomake</button>
            </div>
        {% endif %}
    {% endblock %}