{% extends "layout.html" %}
    {% block body %}
        {% if not session.username %}
            <form action="/login" method="POST">
                <p>Käyttäjätunnus:<br>
                <input type="text" name="username"></p>
                <p>Salasana:<br>
                <input type="password" name="password"></p>
                <input type="submit" value="Kirjaudu">
            </form>
            <p>Jos sinulla ei vielä ole tunnuksia, voit rekisteröityä 
                <a href="/new_account">täältä</a>.
            </p>
        {% endif %}
        <hr>
        <p>Kirjastossa on tällä hetkellä lainattavissa yhteensä {{ counters[0] }}
            tuotetta {{ counters[1] }} sisällöntuottajalta. Tähän mennessä edelleen
            olemassa olevilla käyttäjätunnuksilla on tehty yhteensä {{ counters[2] }}
            lainausta.</p>
        <hr>            
        <h4>Lainatuimpia kirjaston tuotteita:</h4>
        <table>
            {% for piece in top5 %}
                <tr>
                    <td><a href="/material/{{ piece[1] }}">{{ piece[2] }}</a></td>
                </tr>
            {% endfor %}
        </table>
        <hr>
        
        <p>Kirjaston materiaali koostuu seuraavantyyppisistä lainattavista
            tuotteista:</p>
        <table>
            {% for type in t_list %}
                <tr>
                    <td>{{ type[1] }}: {{ type[2] }} kpl</td>
                </tr>
            {% endfor %}
        </table>

    {% endblock %}