{% extends "layout.html" %}
    {% block body %}
        {% if session.username %}

            <p>Kirjaston lainattavat tuotteet:<br>
                {% for piece in m_list %}
                    <li>
                        <a href="/material/{{ piece[0] }}">{{ piece[1] }}</a>, {{ piece[2] }}
                    </li>
                {% endfor %}
            </p>
            <hr>
            <p>Kirjastossa on tällä hetkellä lainattavissa yhteensä {{ counter[0] }}
                tuotetta {{ counter[1] }} sisällöntuottajalta. Tähän mennessä lainauksia
                on tehty {{ counter[2] }} kertaa. Voit muokata kirjailijan tai muun aineiston 
                tuottajan tietoja tai lisätä niille lainattavia teoksia nimessä 
                olevan linkin kautta.</p>

            <hr>            
            {% for author in a_list %}
                <a href="/author/{{ author[0] }}">{{ author[1] }}, {{ author[2] }}</a><br>
            {% endfor %}
            
            <hr>
            <p><a href="/new_author">Lisää sisällöntuottaja</a>. Voit lisätä lainattavia
                tuotteita kirjaston valikoimaan sisällöntuottajien kautta.</p>
            <hr>

            <p>Kirjaston materiaali koostuu seuraavantyyppisistä lainattavista
                tuotteista:</p>

            {% for type in t_list %}
                <li>
                    {{ type[1] }}: {{ type[2] }} kpl
                </li>
            {% endfor %}
        {% else %}
            <form action="/login" method="POST">
                <p>Käyttäjätunnus:<br>
                <input type="text" name="username"></p>
                <p>Salasana:<br>
                <input type="password" name="password"></p>
                <input type="submit" value="Kirjaudu">
            </form>
            <p>Jos sinulla ei vielä ole tunnuksia, voit rekisteröityä 
                <a href="/new_account">täältä</a>.</p>
        {% endif %}
    {% endblock %}