{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% endif %}
<hr>

<form action="/add_new_author" method="POST">
<p>Etunimi:<br>
<input type="text" name="first_name"></p>
<p>Sukunimi:<br>
<input type="text" name="surname"></p>
<p>Syntymävuosi:<br>
<input type="number" name="born"></p>
<p>Kuolinvuosi:<br>
<input type="number" name="dead"></p>
<p>Lyhyt kuvaus:<br>
<textarea name="description" rows="4" cols="40"></textarea></p>
<input type="submit" value="Lisää">
</form>
<hr>
<a href="/">Takaisin etusivulle</a>